:root {
  // Primary colors
  --color-dark: #2c3e50;
  --color-light: #ffffff;
}

// ========== VIEWPORT
$width: 100vw;
$height: 100vh;
// ========== SIZES
$size: 100%;
$padding: 1.5rem;
$radius: .5rem;
// ========== FONTS
$font-stack-1: 'Play', sans-serif;
$font-stack-2: 'Inter', sans-serif;
$fnt-wgt: .85;
$fnt-sz: calc(($padding * $fnt-wgt) + 1vmin);
// ========== COLORS
// Secondary colors
$color-blue: #3498db;
$color-lt-gry: #ecf0f1;