:root {
  --color-dark: #0D1117;
  --color-light: #ffffff;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: initial;
}

html,
body {
  width: 100%;
  height: 100vh;
}

img,
video {
  width: 100%;
}

h1,
p {
  font-size: initial;
  overflow-wrap: break-word;
}

body,
h1,
p {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  color: var(--color-light);
  border: 0;
  border-radius: 0;
  cursor: pointer;
}
button:focus {
  outline: none;
}
button:active {
  transform: scale(0.98);
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  margin: 0;
  padding: 0;
  color: var(--color-dark);
  background-color: var(--color-light);
  font-family: "Play", sans-serif;
  overflow: auto;
}
body.active {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.container,
.controllers,
.volume--container,
.skip--container,
.timer--container,
.light--mode {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  flex-direction: column;
  height: 100%;
  position: relative;
}
.container .dark--mode__container {
  position: fixed;
  top: 1rem;
  right: 0.75rem;
}
.container .dark--mode__container .light--mode {
  width: 3rem;
  height: 1.4375rem;
  transform: scale(1);
}
.container .dark--mode__container .dark--mode {
  transform: scale(1);
  transition: transform 0.3s;
}
.container .header {
  -webkit-padding-after: 2rem;
          padding-block-end: 2rem;
}
.container .header .heading {
  font-size: 1.5rem;
  text-transform: capitalize;
}
@media screen and (min-width: 1024px) {
  .container .header .heading {
    font-size: 2.5rem;
  }
}
.container .figure--container {
  width: 45rem;
  height: 31.345rem;
  max-width: 100%;
  padding-inline: 1rem;
  margin: 0;
}
.container .figure--container .hidden {
  position: relative;
  overflow: hidden;
}
.container .figure--container .hidden:hover .controls {
  bottom: 0.25rem;
  transition: bottom 0.5s ease-in;
}
.container .figure--container .hidden .controls {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  gap: 0.5rem 0;
  align-content: center;
  justify-items: center;
  width: 100%;
  height: 2rem;
  position: absolute;
  bottom: -1.7rem;
  background-color: rgba(0, 0, 0, 0.75);
  transition: bottom 0.5s ease-out;
}
.container .figure--container .hidden .controls .progress {
  width: 100%;
  height: 0.35rem;
  position: absolute;
  top: 0;
  background-color: #677380;
}
.container .figure--container .hidden .controls .progress:hover {
  cursor: e-resize;
}
.container .figure--container .hidden .controls .progress--bar, .container .figure--container .hidden .controls .progress__slider {
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.container .figure--container .hidden .controls .progress--bar {
  height: 100%;
  background-color: #3498db;
  transition: width 650ms cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 2;
}
.container .figure--container .hidden .controls .progress__slider {
  height: inherit;
  background-color: rgba(236, 240, 241, 0.7);
  transition: width 850ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 1;
}
.container .figure--container .hidden .controls .controllers,
.container .figure--container .hidden .controls .skip--container,
.container .figure--container .hidden .controls .volume--container,
.container .figure--container .hidden .controls .timer--container,
.container .figure--container .hidden .controls .expand--container {
  grid-row: 2;
}
.container .figure--container .hidden .controls .volume--container {
  grid-column: 1;
  width: 4rem;
}
.container .figure--container .hidden .controls .volume--container .mute--btn {
  font-size: 0.75rem;
}
.container .figure--container .hidden .controls .volume--container .slider {
  width: 2rem;
  height: 0.35rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 1.5rem;
  transition: width 0.3s;
  cursor: pointer;
}
.container .figure--container .hidden .controls .volume--container .slider:focus {
  outline: none;
}
.container .figure--container .hidden .controls .volume--container .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 1.1245rem;
  height: 1.1245rem;
  border-radius: 100%;
  background-color: #3498db;
  border: 0.1vh solid rgba(52, 152, 219, 0.7);
}
.container .figure--container .hidden .controls .volume--container .slider:hover::-webkit-slider-thumb {
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 100%;
  box-shadow: 0 0 0 0.2rem rgba(52, 152, 219, 0.25), 0 0 0 0.3rem rgba(52, 152, 219, 0.15);
}
.container .figure--container .hidden .controls .controllers {
  grid-column: 2/4;
  width: 7rem;
}
.container .figure--container .hidden .controls .controllers .player--controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.container .figure--container .hidden .controls .controllers .player--controls .btn--medium {
  font-size: 0.75rem;
}
.container .figure--container .hidden .controls .controllers .player--controls .btn--large {
  font-size: 1.2rem;
}
.container .figure--container .hidden .controls .skip--container {
  display: none;
  grid-column: 3;
  width: 8rem;
}
.container .figure--container .hidden .controls .timer--container {
  grid-column: 4/5;
  width: 100%;
  margin-left: 0;
}
.container .figure--container .hidden .controls .timer--container span {
  color: var(--color-light);
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
}
.container .figure--container .hidden .controls .expand--container {
  grid-column: 5;
  display: flex;
}
.container .figure--container .hidden .controls .expand--container .expand--btn {
  font-size: 1rem;
}
@media screen and (min-width: 375px) {
  .container .figure--container .hidden .controls {
    grid-template-columns: repeat(3, 1fr);
    height: 3rem;
    bottom: -2.7rem;
  }
  .container .figure--container .hidden .controls .volume--container {
    grid-column: 1;
    width: 100%;
    -webkit-margin-start: 0;
            margin-inline-start: 0;
  }
  .container .figure--container .hidden .controls .volume--container .slider {
    width: 2rem;
  }
  .container .figure--container .hidden .controls .controllers {
    grid-column: 2/4;
    width: 8rem;
  }
  .container .figure--container .hidden .controls .controllers .player--controls {
    width: 80%;
  }
  .container .figure--container .hidden .controls .controllers .player--controls .btn--large {
    font-size: 1.5rem;
  }
  .container .figure--container .hidden .controls .timer--container {
    grid-column: 4;
    -webkit-margin-end: 1rem;
            margin-inline-end: 1rem;
  }
  .container .figure--container .hidden .controls .expand--container {
    grid-column: 5;
  }
}
@media screen and (min-width: 425px) {
  .container .figure--container .hidden .controls {
    grid-template-columns: repeat(4, 1fr);
  }
  .container .figure--container .hidden .controls .volume--container {
    grid-column: 1;
    width: 100%;
    -webkit-margin-start: 0;
            margin-inline-start: 0;
  }
  .container .figure--container .hidden .controls .volume--container .slider {
    width: 5rem;
  }
  .container .figure--container .hidden .controls .timer--container {
    grid-column: 4;
    -webkit-margin-end: 1rem;
            margin-inline-end: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .container .figure--container .hidden .controls {
    width: 100%;
  }
  .container .figure--container .hidden .controls .volume--container,
.container .figure--container .hidden .controls .skip--container,
.container .figure--container .hidden .controls .controllers,
.container .figure--container .hidden .controls .timer--container {
    width: 100%;
  }
  .container .figure--container .hidden .controls .volume--container {
    grid-column: 1;
  }
  .container .figure--container .hidden .controls .volume--container .slider {
    width: 7rem;
  }
  .container .figure--container .hidden .controls .volume--container .mute--btn {
    font-size: 1.125rem;
  }
  .container .figure--container .hidden .controls .controllers {
    grid-column: 2;
  }
  .container .figure--container .hidden .controls .controllers .player--controls {
    width: inherit;
  }
  .container .figure--container .hidden .controls .controllers .player--controls .btn--large {
    font-size: 2rem;
  }
  .container .figure--container .hidden .controls .controllers .player--controls .btn--medium {
    font-size: 1.25rem;
  }
  .container .figure--container .hidden .controls .skip--container {
    grid-column: 3;
    display: flex;
    width: 100%;
  }
  .container .figure--container .hidden .controls .skip--container .btn--small {
    font-size: 0.85rem;
  }
  .container .figure--container .hidden .controls .timer--container {
    grid-column: 4;
    -webkit-margin-end: 1rem;
            margin-inline-end: 1rem;
  }
  .container .figure--container .hidden .controls .timer--container span {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .container .figure--container .hidden .controls {
    height: 5rem;
    bottom: -4.67rem;
  }
  .container .figure--container .hidden .controls .volume--container .slider {
    width: 6rem;
  }
  .container .figure--container .hidden .controls .controllers .player--controls {
    width: inherit;
  }
  .container .figure--container .hidden .controls .controllers .player--controls .btn--large {
    font-size: 2.75rem;
  }
  .container .figure--container .hidden .controls .controllers .player--controls .btn--medium {
    font-size: 1.35rem;
  }
  .container .figure--container .hidden .controls .skip--container {
    display: flex;
    width: 100%;
  }
  .container .figure--container .hidden .controls .skip--container .btn--small {
    font-size: 1.0125rem;
  }
  .container .figure--container .hidden .controls .timer--container {
    grid-column: 4;
    width: 100%;
    -webkit-padding-end: 1rem;
            padding-inline-end: 1rem;
  }
  .container .figure--container .hidden .controls .timer--container span {
    font-size: 1.0125rem;
  }
  .container .figure--container .hidden .controls .expand--container {
    margin-inline: 1rem;
  }
}
.container .figure--container .status--container {
  width: 100%;
  height: 4rem;
}
.container .figure--container .status--container .status,
.container .figure--container .status--container .artist {
  -webkit-padding-start: 0.35rem;
          padding-inline-start: 0.35rem;
  text-transform: capitalize;
  font-family: "Inter", sans-serif, sans-serif;
}
.container .figure--container .status--container .status {
  font-size: 2rem;
  font-weight: 800;
}
.container .figure--container .status--container .artist {
  font-size: 1.25rem;
}
@media screen and (min-width: 1024px) {
  .container .figure--container .status--container .status {
    font-size: 3rem;
  }
  .container .figure--container .status--container .artist {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .container .figure--container {
    width: 50rem;
  }
}/*# sourceMappingURL=index.css.map */