@import '_variables';

* {
  &,
  &::after,
  &::before{
    box-sizing: border-box;
  }
}

html {
  font-size: initial;
}

html,
body {
  width: $size;
  height: $height
}

img,
video { width: $size; }

h1,
p {
  font-size: initial;
  overflow-wrap: break-word;
}

body,
h1,
p {
  margin: 0;
  padding: 0
}

button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;

  &:focus { outline: none; }
  &:active { transform: scale(.98); }
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-dark);
  background-color: var(--color-light);
  font-family: $font-stack-1;
  overflow: auto;
  &.active {
    background-color: var(--color-dark);
    color: var(--color-light)
  }
}

.container,
.controllers,
.volume--container,
.skip--container,
.timer--container,
.light--mode {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  flex-direction: column;
  height: $size;
  position: relative;

  .dark--mode__container {
    position: fixed;
    top: 1rem;
    right: .75rem;

    .light--mode {
      width: 3rem;
      height: 1.4375rem;
      transform: scale(1);
    }
    
    .dark--mode {
      transform: scale(1);
      transition: transform .3s;
    }
  }

  .header {
    padding-block-end: 2rem;

    .heading { 
      font-size: 1.5rem; 
      text-transform: capitalize;
    }

    @media screen and (min-width: 1024px) {
      & {
        .heading { font-size: 2.5rem; }
      }
    }
  }

  .figure--container {
    max-width: 45rem;
    padding-inline: 1rem;
    margin: 0;

    .hidden {
      position: relative;
      overflow: hidden;

      &:hover .controls {
        bottom: .25rem;
        transition: bottom .5s ease-in
      }

      .controls {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: .5rem;
        align-content: center;
        justify-items: center;

        width: $size;
        height: 2rem;
        position: absolute;
        bottom: -3.7rem;
        background-color: rgba(0,0,0,.75);
        transition: bottom .5s ease-out;

        .progress {
          width: $size;
          height: .35rem;
          position: absolute;
          top: 0;
          background-color: #677380;
        }

        .controllers,
        .skip--container,
        .volume--container,
        .timer--container { grid-row: 2; }

        .volume--container {
          grid-column: 1;
          width: 5rem;

          .mute--btn { 
            color: var(--color-light);
            font-size: .75rem;
          }

          .slider {
            width: 2rem;
            height: .35rem;
            appearance: none;
            border-radius: $padding;
            transition: width .3s;
            cursor: pointer;

            &:focus { outline: none; }

            &::-webkit-slider-thumb {
              appearance: none;
              width: 1.1245rem;
              height: 1.1245rem;
              border-radius: $size;
              background-color: $color-blue;
              border: .1vh solid rgba($color-blue, .7)
            }

            &:hover::-webkit-slider-thumb {
              width: 1.125rem;
              height: 1.125rem;
              border-radius: $size;
              box-shadow: 0 0 0 .2rem rgba($color-blue, .25), 0 0 0 .3rem rgba($color-blue, .15);
            }
          }
        }

        .controllers {
          grid-column: 2;
          width: 7rem;

          .player--controls {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: $size * .8;

            .btn--large,
            .btn--medium { color: var(--color-light); }
            .btn--medium { font-size: .75rem; }
            .btn--large { font-size: 1.2rem; }
          }
        }

        .skip--container {
          display: none;
          grid-column: 3;
          width: 8rem
        }

        .timer--container {
          grid-column: 3 / 4;
          width: $size;
          margin-left: 0;

          & span { 
            color: var(--color-light);
            font-size: .75rem;
            letter-spacing: .1rem;
          }
        }

        @media screen and (min-width: 375px) {
          & {
            grid-template-columns: repeat(3, 1fr);
            height: 3rem;

            .volume--container {
              grid-column: 1;
              width: $size;
              margin-inline-start: 1rem;

              .slider { width: 2rem; }
            }

            .controllers {
              grid-column: 2 / 3;
              width: 10rem;

              .player--controls { 
                width: $size * .8;

                .btn--large { font-size: 1.5rem;}
              }
            }

            .timer--container {
              grid-column: 4;
              margin-inline-end: 1rem;
            }
          }
        }
        @media screen and (min-width: 425px) {
          & {
            grid-template-columns: repeat(3, 1fr);

            .volume--container {
              grid-column: 1;
              width: $size;
              margin-inline-start: 1rem;

              .slider { width: 5rem; }
            }
            .controllers { grid-column: 2 / 3; }

            .timer--container {
              grid-column: 4;
              margin-inline-end: 1rem;
            }
          }
        }

        @media screen and (min-width: 768px) {
          & {
            width: $size;

            .volume--container,
            .skip--container,
            .controllers,
            .timer--container { width: $size; }

            .volume--container {
              .slider { width: 7rem; }
              .mute--btn { font-size: 1.125rem; }
            }

            .controllers {
              .player--controls { 
                width: inherit;

                .btn--medium { font-size: 1.25rem; }
              }
            }

            .skip--container {
              display: flex;
              width: $size;

              .btn--small { 
                color: var(--color-light);
                font-size: .85rem; 
              }
            }

            .timer--container {
              grid-column: 4;
              margin-inline-end: 1rem;

              & span { font-size: 1rem; }
            }
          }
        }

        @media screen and (min-width: 1024px) {
          & {
            height: 5rem;
            bottom: -4.67rem;

            .volume--container {
              .slider { width: 6rem; }
            }

            .controllers {
              .player--controls {
                width: inherit;

                .btn--large { font-size: 2.75rem; }
                .btn--medium { font-size: 1.35rem; }
              }
            }

            .skip--container {
              display: flex;
              width: $size;

              .btn--small {
                color: var(--color-light);
                font-size: 1.0125rem;
              }
            }

            .timer--container {
              grid-column: 4;
              width: $size;
              padding-inline-end: 1rem;

              & span { font-size: 1.0125rem; }
            }
          }
        }
      }
    }

    .status--container {
      width: $size;
      height: 4rem;

      .status,
      .artist {
        padding-inline-start: .35rem;
        text-transform: capitalize;
        font-family: $font-stack-2, sans-serif;
      }

      .status {
        font-size: 2rem;
        font-weight: 800;
      }

      .artist { font-size: 1.25rem; }

      @media screen and (min-width: 1024px) {
        & {
          .status { font-size: 3rem; }
          .artist { font-size: 1.5rem; }
        }
      }
    }

    @media screen and (min-width: 1024px) {
      & {
        max-width: 50rem;
      }
    }
  }
}